@font-face {
  font-family: 'Roboto-Light';
  src: url('../../src/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../src/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather-Bold';
  src: url('../../src/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
}
