@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather", sans-serif;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 0.3125vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

.container {
  height: 100%;
  max-width: 92%;
  width: 1140px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus, button:target, button:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 85px;
  z-index: 10;
}
.menu .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  max-width: 1140px;
  height: 85px;
  margin: 0 auto;
  z-index: 10;
}
.menu .nav__logo {
  display: block;
  width: 120rem;
  max-width: 203px;
  max-height: 40px;
}
.menu .nav__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 150rem;
}
.menu .nav__btn-buy {
  max-width: 130px;
  width: 80rem;
  max-height: 36px;
  height: 20rem;
  min-height: 27px;
  background-color: #620F5F;
  border-radius: 32px;
  color: #ffffff;
  font-size: 14px;
}
.menu .nav__btn-burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/burger-line.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 66px;
  height: 40px;
}
.menu .nav__btn-burger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../img/burger-line.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 66px;
  height: 14px;
  transition-duration: 1s;
}
.menu .nav__btn-burger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/burger-line.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 66px;
  height: 14px;
  transition-duration: 1s;
}
.menu .nav__btn-burger.active:before {
  transform: translateY(100%);
  transition-duration: 1s;
}
.menu .nav__btn-burger.active:after {
  transform: translateY(-100%);
  transition-duration: 1s;
}
.menu .nav__mobile {
  display: none;
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  animation: drop-down;
  transition: all 0.5s linear;
}
.menu .nav__mobile.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
}
.menu .nav__mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.menu .nav__mobile-item {
  position: relative;
  width: 100%;
  text-align: left;
}
.menu .nav__mobile-item:not(:last-child) {
  height: 10vh;
}
.menu .nav__mobile-item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
}
.menu .nav__mobile-link {
  display: block;
  margin: 0 auto;
  width: 51%;
  height: 100%;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.menu__flop {
  height: 85px;
  margin-bottom: 85px;
  background-color: transparent;
}

@media (max-width: 554px) {
  .menu {
    top: auto;
    bottom: 0;
  }
  .menu .nav {
    height: 50px;
    left: 3.5%;
    right: 4%;
  }
  .menu .nav__logo {
    width: 135rem;
  }
  .menu .nav__btn-group {
    width: 127rem;
  }
  .menu .nav__btn-buy {
    width: 80rem;
    padding: 3.3rem 10rem;
    font-size: 11.1rem;
  }
  .menu .nav__btn-burger {
    height: 20px;
    width: 32px;
  }
  .menu .nav__btn-burger:before {
    height: 7px;
  }
  .menu .nav__btn-burger:after {
    height: 7px;
  }
  .menu .nav__mobile.active {
    top: 0;
    bottom: 50px;
  }
  .menu .nav__mobile-link {
    font-size: 16px;
  }
  .menu__flop {
    height: 50px;
    margin-bottom: 30px;
  }
}
@keyframes drop-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
#wrap {
  padding: 0 0 75px;
  z-index: 0;
}

.carousel-wrap {
  width: 635px;
  height: 323px;
  margin: 0 auto;
  position: relative;
}

.carousel > li {
  width: 470px;
  height: 302px;
  background: transparent;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.review-card {
  width: 100%;
  height: 100%;
}

.review-card .review-card-img {
  width: 100%;
  height: 100%;
  background-image: url("../../src/img/hero__slider-img1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.items {
  position: absolute;
}

.main-pos {
  margin-left: 20px;
  z-index: 3000;
}

.left-pos {
  background: #ccc;
  opacity: 1;
  margin-left: -120px;
  z-index: 1000;
  transform: translate(-90px, -75px);
}

.back-pos {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.right-pos {
  opacity: 1;
  margin-left: 110px;
  z-index: 1000;
  transform: translate(90px, -85px);
}

.slider {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.slider a {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  width: 68px;
  height: 68px;
  background-image: url("../../src/img/slider-arrow-left.png");
  background-position: center center;
  background-size: 28px/13px;
  background-repeat: no-repeat;
}

.slider #prev,
.slider #next {
  position: absolute;
}

.slider #next {
  left: 330px;
  bottom: -215px;
  transform: rotate(-180deg);
}

.slider #prev {
  left: 220px;
  bottom: -215px;
}

.hero {
  position: relative;
  width: 100%;
}
.hero__bg-img {
  position: absolute;
  width: 100%;
  height: 78.5%;
  z-index: -1;
}
.hero__box {
  display: flex;
  height: 100%;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__slider {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 220px 0 40px;
}
.hero__slider-box {
  width: 600px;
  height: 300px;
}
.hero__slider-wrapper {
  width: 100%;
  height: 100%;
}
.hero__slider-slide {
  font-size: 40px;
  width: 100%;
  height: 100%;
  background-color: green;
}
.hero__slider-buy_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 67px;
  border: 1px solid #FFFFFF;
  border-radius: 33.5px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.hero__title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 100%;
  color: #000000;
}
.hero__btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  max-width: 250px;
}
.hero__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.hero__btn-img {
  width: 67px;
}
.hero__btn-img img {
  width: 100%;
  height: 100%;
}
.hero__btn-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #590D56;
  margin-right: auto;
}
.hero__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1328px;
  height: 123px;
  margin: 0 auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #242424;
  opacity: 0.7;
  background-color: #ffffff;
}
.hero__warning p, .hero__warning span {
  display: block;
}
.hero__warning p {
  position: relative;
}
.hero__warning span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.hero__discount {
  width: 100%;
  display: flex;
  align-items: center;
  height: 94px;
  margin-top: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #590D56;
}

.about {
  padding-top: 100px;
}
.about__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 128px;
  padding-bottom: 130px;
}
.about__top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.about__top-item_info {
  margin-left: 4px;
  width: 30px;
  height: 30px;
}
.about__top-img {
  width: 67px;
  height: 67px;
}
.about__top-text {
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 154.8%;
  color: #242424;
}
.about__top-text:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 582px;
}
.about__main-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 263px;
  height: 100%;
}
.about__main-left_title {
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 46px;
}
.about__main-left_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
  margin-bottom: 14px;
}
.about__main-left_link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #590D56;
}
.about__main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 848px;
  width: 100%;
  justify-content: space-between;
}
.about__main-right_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  border-top: 1px solid black;
  width: 100%;
  padding: 30px 30px 30px 100px;
}
.about__main-right_item:nth-child(2) {
  flex-direction: row-reverse;
}
.about__main-right_item:last-child {
  border-bottom: 1px solid black;
}
.about__main-right_img {
  width: 124px;
  height: 124px;
}
.about__main-right_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}

.about-slider {
  margin-top: 164px;
}
.about-slider__wrap {
  display: flex;
  gap: 30px;
  height: 624px;
  justify-content: space-between;
}
.about-slider__left {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  max-width: 263px;
  height: 100%;
}
.about-slider__left-title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 26px;
}
.about-slider__left-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
}
.about-slider__right {
  width: 847px;
  height: 618px;
}
.about-slider__right .swiper {
  height: 100%;
  width: 100%;
}
.about-slider__right .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.about-slider__right .swiper-slide {
  width: 100%;
  height: 100%;
}
.about-slider__right .swiper-slide > a {
  display: block;
  background-color: grey;
  height: 570px;
  background-image: url("../../src/img/about-slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.about-slider__right .swiper-slide > a:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../src/img/play-btn.png");
  width: 67px;
  height: 67px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-slider__right .swiper-pagination {
  display: flex;
  max-width: 80px;
  justify-content: space-between;
  height: 16px;
  text-align: left;
}
.about-slider__right .swiper-pagination .bullet {
  display: block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #47093E;
}
.about-slider__right .swiper-pagination .bullet-active {
  background: #590D56;
}

.grid {
  margin-top: 165px;
}
.grid__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
}
.grid__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 263px;
  height: 100%;
}
.grid__left-title {
  text-align: left;
  font-family: "Merriweather", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 46px;
}
.grid__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  height: 457px;
}
.grid__right-card {
  position: relative;
  background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
  border-radius: 18px;
}
.grid__right-card_1 {
  grid-area: 1/1/3/2;
}
.grid__right-card_2 {
  grid-area: 1/2/2/3;
}
.grid__right-card_3 {
  grid-area: 1/3/2/4;
}
.grid__right-card_4 {
  grid-area: 2/2/3/4;
  background-color: #47093E;
}
.grid__right-card img {
  width: 100%;
  height: 100%;
}
.grid__right-card .card-title {
  position: absolute;
  left: 28px;
  top: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  color: #FFFFFF;
}
.grid__right-card_img {
  width: 100%;
  height: 100%;
}
.grid__right-card_img .layout {
  background: linear-gradient(179.96deg, rgba(71, 9, 62, 0.9) -0.95%, rgba(71, 9, 62, 0) 99.97%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.grid__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 67px;
  margin-left: auto;
  margin-top: 35px;
  border: 1px solid #47093E;
  border-radius: 33.5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #47093E;
}
.grid__button:hover {
  transition-duration: 0.3s;
  color: #FFFFFF;
  background-color: #590D56;
}

.buy {
  margin-top: 177px;
  background: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 25%);
  background-blend-mode: multiply;
  height: 600px;
}
.buy__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.buy__left {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  max-width: 263px;
  height: 100%;
}
.buy__left-title {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 26px;
}
.buy__left-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.8%;
  color: #777777;
}
.buy__right {
  position: relative;
  height: 513px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.buy__right-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 387px;
}
.buy__right-image_1 {
  position: absolute;
  top: 35px;
  left: 90px;
  z-index: 1;
}
.buy__right-image_2 {
  position: absolute;
  top: -55px;
  left: 395px;
}
.buy__right-buttons {
  width: 850px;
  display: flex;
  justify-content: space-between;
}
.buy__right-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 67px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #47093E;
  border: 1px solid #47093E;
  border-radius: 33.5px;
}
.buy__warning {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1328px;
  height: 123px;
  margin: 0 auto;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #242424;
  opacity: 0.7;
  background-color: #ffffff;
}
.buy__warning p, .buy__warning span {
  display: block;
}
.buy__warning p {
  position: relative;
}
.buy__warning span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.footer {
  padding-top: 165px;
  padding-bottom: 66px;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer__column .footer-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #7A7A7A;
}
.footer__column address {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #828282;
}
.footer__column .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin-bottom: 47px;
}
.footer__column .vk {
  width: 33px;
  height: 24px;
}
.footer__column .ok {
  width: 27px;
  height: 24px;
}
.footer__column .ads {
  width: 316px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__column .ads img {
  height: 40px;
  width: 90px;
}
.footer__column .ads .t {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}

/*# sourceMappingURL=main.css.map */
