@import "var";

.menu {
  background-color: $color-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include flexSB(flex, space-between, center);
  max-height: 85px;
  z-index: 8;


  .nav {
    @include flexSB(flex, space-between, center);
    width: 92%;
    max-width: $desktop;
    height: 85px;
    margin: 0 auto;
    z-index: 10;

    &__logo {
      display: block;
      width: 120rem;
      max-width: 203px;
      max-height: 40px;
    }

    &__btn {

      &-group {
        @include flexSB(flex, space-between, center);
        max-width: 250px;
        width: 150rem;
      }

      &-buy {
        font-family: 'Roboto-Medium', sans-serif;
        max-width: 130px;
        width: 80rem;
        max-height: 36px;
        height: 20rem;
        min-height: 27px;
        background-color: $color-primary;
        border-radius: 32px;
        color: $color-bg;
        font-size: 14px;
        &:hover {
          transition-duration: 0.6s;
          color: black;
          background: transparent;
          border: 1px solid black;
        }
      }

      &-burger {
        position: relative;
        @include flexColumn(flex, column, space-between, center);
        background-image: url('../img/burger-line.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        width: 66px;
        height: 40px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          background-image: url('../img/burger-line.png');
          background-repeat: no-repeat;
          background-size: contain;
          max-width: 66px;
          height: 14px;
          transition-duration: 1s;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-image: url('../img/burger-line.png');
          background-size: contain;
          background-repeat: no-repeat;
          max-width: 66px;
          height: 14px;
          transition-duration: 1s;
        }

        &.active {
          &:before {
            transform: translateY(100%);
            transition-duration: 1s;
          }

          &:after {
            transform: translateY(-100%);
            transition-duration: 1s;
          }

        }
      }
    }

    &__mobile {
      position: fixed;
      top: 85px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-bg;
      transform: translateY(130%);
      transition: 0.6s all ease-in-out;

      &.active {
        @include flexColumn(flex, column, center, center);
        transform: translateY(0);
        transition: 0.6s all ease-in-out;
      }

      &-list {
        @include flexColumn(flex, column, center, flex-start);
        width: 100%;
      }

      &-item {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        text-align: left;
        height: 10vh;

        img {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
        }

        &:nth-child(1) {
          &:before {
            //background-image: url('../img/burger-line-5.png');
          }
        }
        &:nth-child(2) {
          &:before {
            //background-image: url('../img/burger-line-4.png');
          }
        }
        &:nth-child(3) {
          &:before {
            //background-image: url('../img/burger-line-3.png');
          }
        }
        &:nth-child(4) {
          &:before {
            //background-image: url('../img/burger-line-2.png');
          }
        }
        &:nth-child(5) {
          &:before {
            //background-image: url('../img/burger-line-1.png');
          }
        }

        &:before {
          content: '';
          position: absolute;
          //left: 0;
          //right: 0;
          height: 100%;
          width: 100%;
          //background-repeat: no-repeat;
          background-size: cover;
          bottom: 0;
          z-index: -1;
        }

      }

      &-link {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 51%;
        height: 100%;
        font-family: 'Merriweather-Bold', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }

    }
  }

  &__flop {
    height: 85px;
    margin-bottom: 85px;
    background-color: transparent;
  }

}

@media (max-width: 1140px) {
  .hero__slider {

  }
}

@media (max-width: 554px) {
  .menu {
    top: auto;
    bottom: 0;

    .nav {
      height: 50px;
      left: 3.5%;
      right: 4%;

      &__logo {
        width: 135rem;
      }

      &__btn {
        &-group {
          width: 127rem;
        }

        &-buy {
          width: 80rem;
          padding: 3.3rem 10rem;
          font-size: 11.1rem;
        }

        &-burger {
          height: 20px;
          width: 32px;

          &:before {
            height: 7px;
          }

          &:after {
            height: 7px;
          }

        }
      }

      &__mobile {
        transform: translateY(-130%);
        &.active {
          top: 0;
          bottom: 50px;
        }

        &-link {
          font-size: 16px;
        }

      }
    }

    &__flop {
      height: 50px;
      margin-bottom: 30px;
    }

  }

}
